<div class="container-principal">
  <form [formGroup]="form" align="center" (submit)="handleSubmit()">
    <input
      type="text"
      formControlName="firstName"
      class="my-shop-input"
      placeholder="Nombres"
      required
    />

    <input
      type="text"
      formControlName="lastName"
      class="my-shop-input"
      placeholder="Apellidos"
      required
    />

    <input
      type="text"
      formControlName="userName"
      class="my-shop-input"
      placeholder="Nombre de usuario"
      required
    />

    <input
      type="email"
      formControlName="email"
      class="my-shop-input"
      placeholder="Correo electrónico"
      required
    />

    <div>
      <div class="my-shop-input">
        <input
          [type]="isShowPassword ? 'text' : 'password'"
          class="my-shop-input-password"
          placeholder="Contraseñas"
          formControlName="password"
          maxlength="40"
          required
        />
        <ion-icon
          *ngIf="!isShowPassword"
          name="eye-outline"
          (click)="showPassword()"
        ></ion-icon>

        <ion-icon
          *ngIf="isShowPassword"
          name="eye-off-outline"
          (click)="showPassword()"
        ></ion-icon>
      </div>
    </div>

    <input
      type="tel"
      formControlName="phone"
      class="my-shop-input"
      placeholder="Teléfono"
      required
    />

    <app-errors-forms
      *ngIf="errorForms.isInValidForm"
      message="Complete correctamente todos los campos"
    ></app-errors-forms>

    <app-errors-forms
      *ngIf="errorForms.isRegister"
      message="Error al registarse, verifica que todos los campos esten correctos"
    ></app-errors-forms>

    <button class="my-shop-button" type="submit">Ingresar</button>
  </form>
</div>
