.container-principal {
  width: 90%;
  margin-left: 5%;
}

.container-products-quantity {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  border-bottom: 1px solid var(--placeholder-color);
  padding-bottom: 2%;
  margin-bottom: 2%;
}

img {
  object-fit: cover;
  max-height: 300px;
  border-radius: 10px;
}

.p-description {
  max-height: 200px;
  overflow-y: auto;
}

p {
  padding: 0;
}

span {
  margin-left: 5px;
}
