<div class="container-principal" *ngIf="product">
  <div class="container-image">
    <img src="{{ product.image }}" width="100%" height="100%" alt="" />
  </div>
  <section class="container-description-product">
    <h1
      class="my-shop-title-body my-shop-title-responsive"
      title=" {{ product.title }}"
    >
      {{ product.title }}
    </h1>
    <p>
      Precio: <span>{{ product.price | number }}</span>
    </p>
    <p>Unidades: {{ product.count }}</p>
  </section>

  <section class="container-buttons">
    <button (click)="selectProduct(product, 1)">Ver</button>
    <button (click)="selectProduct(product, 2)">Editar</button>
    <button (click)="deleteProduct(product.id)">Eliminar</button>
  </section>
</div>
