<app-loading [isLoading]="isLoading"></app-loading>
<app-header-user></app-header-user>
<app-product
  *ngIf="isShowModalProduct"
  [product]="product"
  [isEdit]="isEdit"
></app-product>
<div class="container-body">
  <section class="container-add-product">
    <div
      class="button-count"
      [routerLink]="['./products']"
      [routerLinkActive]="'button-count-active '"
    >
      <div class="container-name-button">
        <span>Productos</span>
      </div>
    </div>
    <div
      class="button-count"
      [routerLink]="['./cart-shop']"
      [routerLinkActive]="'button-count-active '"
    >
      <div class="container-name-button">
        <span> Carrito de compras</span>
      </div>
      <div *ngIf="totalProductInCartShop > 0" class="div">
        {{ totalProductInCartShop }}
      </div>
    </div>
    <div
      class="button-count"
      [routerLink]="['./shopping-history']"
      [routerLinkActive]="'button-count-active '"
    >
      <div class="container-name-button">
        <span> Historial de compras</span>
      </div>
      <div class="div" *ngIf="totalProductInPurchase > 0">
        {{ totalProductInPurchase }}
      </div>
    </div>
  </section>

  <section class="container-outlet">
    <router-outlet></router-outlet>
  </section>
</div>
