.container-body {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  margin-top: 5px;
  padding-block: 20px;
  margin: 0;
}

.container-add-product {
  display: flex;
  align-items: flex-start;
  width: 90%;
  grid-column: span 1;
}

.button-count {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 7px 15px;
  gap: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-color);
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 800;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 1px;
  border-radius: 100px;
}

/* Router outler */

.container-outlet {
  grid-column: span 2;
  width: 100%;
}
