<div class="contenedor-header">
  <header>
    <div class="logo">
      <a href="#">MI TIENDA</a>
    </div>
    <nav id="nav">
      <ul>
        <li>
          <span [routerLink]="['/']">Inicio</span>
        </li>
        <li>
          <span [routerLink]="['/register']">Registrarse</span>
        </li>
        <li><span [routerLink]="['/login']">Iniciar sesión</span></li>
      </ul>
    </nav>
    <div class="nav-responsive" (click)="mostrarOcultarMenu()">
      <ion-icon name="menu-outline"></ion-icon>
    </div>
  </header>
</div>
